---
---
<footer class="grid md:grid-cols-2 grid-rows-2 border-t-4 border-black/50 text-white w-screen py-1 px-3 bottom-0">
        <p class="text-center">Copyright © 2022 CraftSupport</p>
        <p class="text-center">Premium Minecraft services at budget friendly rates!</p>
</footer>