---
---
<footer class="mx-atuo mt-4 overflow-hidden relative inset-x-0 bottom-0 bg-[#12141D]">
    <div class="mx-auto max-w-screen-xl p-4 md:flex justify-between text-white">
            <p class="text-sm text-center">CraftSupport, © 2023 | Email: contact@craftsupport.net</p>
    <ul class=" flex-shrink flex mt-3 text-sm md:mt-0 justify-center">
        <li>
            <a href="/services" class="hover:underline underline-offset-2 mr-6 ">Services</a>
        </li>
        <li>
            <a href="/whyus" class="hover:underline underline-offset-2 mr-6">Why Us?</a>
        </li>
        <li>
            <a href="/testimonials" class="hover:underline underline-offset-2 mr-6">Testimonials</a>
        </li>
        <li>
            <a href="https://discord.com/invite/SP87wwm6DU" class="hover:underline underline-offset-2 mr-6">Discord</a>
        </li>
    </ul>
    </div>
</footer>