---
---


<footer class="lg:rounded-full shadow-2xl shadow-slate-800 lg:mx-40 mx-0 lg:my-4 overflow-hidden">
        <div class="w-full mx-auto max-w-screen-xl p-4 sm:flex sm:justify-between text-white">
                <p class=" text-sm text-center">CraftSupport, © 2023</p>
        <ul class="flex flex-wrap mt-3 text-sm sm:mt-0 justify-center">
            <li>
                <a href="#services" class="mr-4 hover:underline underline-offset-2 md:mr-6 ">Services</a>
            </li>
            <li>
                <a href="#why-us" class="mr-4 hover:underline underline-offset-2 md:mr-6">Why Us?</a>
            </li>
            <li>
                <a href="#testimonials" class="mr-4 hover:underline underline-offset-2 md:mr-6">Testimonials</a>
            </li>
            <li>
                <a href="https://discord.com/invite/SP87wwm6DU" class="mr-4 hover:underline underline-offset-2 md:mr-6">Discord</a>
            </li>
        </ul>
        </div>
    </footer>