---
---
<header class="xl:rounded-full shadow-2xl shadow-slate-700 xl:top-4 xl:sticky fixed xl:mx-40 xl:w-auto w-full overflow-hidden">
<nav class="mx-auto max-w-screen-xl bg-[#12141d] text-white py-3 lg:px-4 lg:flex justify-between">
    <a href="/" class="items-center justify-center flex flex-shrink-20 transition ease-in-out hover:scale-105 active:scale-100">
        <img src="/logo.png" class="max-h-10 sm:max-h-12">
    </a>
    <div class="flex justify-center">
        <a class="text-sm sm:text-lg sm:px-4 px-2 py-2 mx-1 rounded-full hover:bg-gray-700 transition ease-in-out hover:scale-110 active:scale-100 brightness-100 active:brightness-150 font-semibold" href="#services">Services</a>
        <a class="text-sm sm:text-lg sm:px-4 px-2 py-2 mx-1 rounded-full hover:bg-gray-700 transition ease-in-out hover:scale-110 active:scale-100 brightness-100 active:brightness-150 font-semibold" href="#why-us">Why Us?</a>
        <a class="text-sm sm:text-lg sm:px-4 px-2 py-2 mx-1 rounded-full hover:bg-gray-700 transition ease-in-out hover:scale-110 active:scale-100 brightness-100 active:brightness-150 font-semibold" href="#testimonials">Testimonials</a>
        <a class="text-sm sm:text-lg sm:px-4 px-2 py-2 mx-1 rounded-full transition ease-in-out hover:scale-110 active:scale-100 hover:brightness-150 brightness-100 active:brightness-150 font-semibold bg-sky-700" href="https://discord.com/invite/SP87wwm6DU">Discord</a>
    </div>
</nav>
</header>
<br><br><br><br><br>