---
---
<header class="rounded-full shadow-2xl shadow-slate-800 top-4 sticky mx-40 mt-4">
<nav class="w-full mx-auto max-w-screen-xl bg-[#12141d] text-white py-3 px-4 md:flex flex-auto justify-between">
    <a href="/" class="items-center justify-center flex flex-shrink-20 transition ease-in-out hover:scale-105 active:scale-100 sm:ml-2">
        <img src="/logo.png" class="sm:max-h-10 max-h-12">
    </a>
    <div class="flex justify-center">
        <a class="text-l px-4 py-2 mx-1 rounded-full hover:bg-gray-700 transition ease-in-out hover:scale-110 active:scale-100 brightness-100 active:brightness-150 font-semibold" href="#services">Services</a>
        <a class="text-l px-4 py-2 mx-1 rounded-full hover:bg-gray-700 transition ease-in-out hover:scale-110 active:scale-100 brightness-100 active:brightness-150 font-semibold" href="#why-us">Why Us?</a>
        <a class="text-l px-4 py-2 mx-1 rounded-full hover:bg-gray-700 transition ease-in-out hover:scale-110 active:scale-100 brightness-100 active:brightness-150 font-semibold" href="#testimonials">Testimonials</a>
        <a class="text-l px-4 py-2 mx-1 rounded-full transition ease-in-out hover:scale-110 active:scale-100 hover:brightness-150 brightness-100 active:brightness-150 font-semibold bg-blue-800" href="https://discord.com/invite/SP87wwm6DU">Discord</a>
    </div>
</nav>
</header>
<br>