---
import { Image } from 'astro:assets';
import logo from "../logo.webp";
---
<div class="bg-[#12141D] mt-5">
<header class="relative w-auto overflow-hidden md:px-30">
<nav class="mx-auto max-w-screen-2xl text-white py-3 lg:px-4 lg:flex justify-between">
    <a href="/#" class="items-center justify-center flex flex-shrink-20 transition ease-in-out hover:scale-105 active:scale-100">
        <Image src={logo} alt="CraftSupport Logo" widths={[240, 540, 720, logo.width]} sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${logo.width}px`} class="max-h-12 max-w-xs">
    </a>

    <div class="flex justify-center ">
        <a class="text-sm sm:text-lg sm:px-3 px-2 py-3 mx-1 hover:underline underline-offset-4 transition ease-in-out hover:scale-110 active:scale-100 font-semibold" href="/services">Services</a>
        <a class="text-sm sm:text-lg sm:px-3 px-2 py-3 mx-1 hover:underline underline-offset-4 transition ease-in-out hover:scale-110 active:scale-100 font-semibold" href="/whyus">Why Us?</a>
        <a class="text-sm sm:text-lg sm:px-3 px-2 py-3 mx-1 hover:underline underline-offset-4 transition ease-in-out hover:scale-110 active:scale-100 font-semibold" href="/testimonials">Testimonials</a>
        <a class="text-sm sm:text-lg sm:px-3 px-2 py-3 mx-1 rounded-full transition ease-in-out hover:scale-110 active:scale-100 hover:brightness-150 brightness-100 active:brightness-150 font-semibold bg-sky-700 shadow-inner shadow-sky-950 drop-shadow-md" href="https://discord.com/invite/SP87wwm6DU">Discord</a>
    </div>
</nav>
</header>
<br><br>