---

---

<div class="mt-0 md:mt-40" transition:animate="fade">
    <h1
        class="md:text-5xl text-3xl text-center font-semibold flex-wrap mx-5 lg:mx-48 text-white"
    >
        Premium Minecraft services at budget-friendly rates!
    </h1>
    <p class="mt-10 text-md text-center font-semibold text-white lg:mx-80 mx-5">
        Discover a one-stop hub for Minecraft and Linux server solutions. We
        specialise in plugin configuration, server setup, custom plugin
        development, proxy integration, off-site data security, and expert
        sysadmin services.
    </p>
    <div
        class="mt-10 mx-5 md:mx-auto p-5 max-w-screen-md grid md:grid-cols-2 grid-cols-1 gap-6 justify-center items-center text-center content-center text-white"
    >
        <a
            class="text-md sm:px-3 px-2 py-3 mx-1 rounded-full transition ease-in-out hover:scale-110 active:scale-100 font-semibold ring-2 ring-sky-700 bg-transparent shadow-inner shadow-sky-950 drop-shadow-md hover:bg-sky-700/10"
            href="https://discord.com/invite/SP87wwm6DU"
            >Wanna Talk? Join Our Discord</a
        >
        <a
            class="text-md sm:px-3 px-2 py-3 mx-1 rounded-full transition ease-in-out hover:scale-110 active:scale-100 font-semibold ring-2 ring-sky-700 bg-transparent shadow-inner shadow-sky-950 drop-shadow-md hover:bg-sky-700/10"
            href="/services">Interested? Explore Our Services</a
        >
    </div>
</div>
