---
---
<div class=" mt-0 md:mt-40" transition:animate="fade">
<h1 class="lg:text-4xl text-2xl text-center font-semibold text-white">Premium Minecraft services at <br> budget-friendly rates!</h1>
<p class="mt-10 text-md text-center font-semibold text-white mx-5">Discover a one-stop hub for Minecraft and Linux server solutions. We specialise in plugin configuration, server setup, <br> custom plugin development, proxy integration, off-site data security, and expert sysadmin services.</p>
<div class="mt-10 mx-auto max-w-screen-md grid md:grid-cols-2 grid-cols-1 gap-6 justify-center items-center text-center content-center text-white p-5">
	<div class="p-4">
        <a class="text-sm sm:text-lg sm:px-3 px-2 py-3 mx-1 rounded-full transition ease-in-out hover:scale-110 active:scale-100 hover:brightness-150 brightness-100 active:brightness-150 font-semibold bg-sky-700 shadow-2xl" href="https://discord.com/invite/SP87wwm6DU">Wanna Talk? Join Our Discord</a>
	</div>
	<div class="p-4">
        <a class="text-sm sm:text-lg sm:px-3 px-2 py-3 mx-1 rounded-full transition ease-in-out hover:scale-110 active:scale-100 hover:brightness-150 brightness-100 active:brightness-150 font-semibold bg-sky-700 shadow-2xl" href="/services">Interested? Explore Our Services</a>
	</div>	
</div>
