---
---
<p id="services" class="text-2xl text-center font-semibold text-white">Our Top-Tier Services</p>
<div class="w-full mx-auto max-w-screen-xl grid md:grid-cols-2 grid-cols-1 gap-5 text-white p-5 justify-stretch text-center">
	<div class="bg-[#124889] rounded-lg p-4">
		<h1 class="text-lg font-semibold">Plugin Setup and Configuration</h1>
		<br>
		<p class="text-sm">Our All-in-One Plugin Configuration service encompasses the setup and fine-tuning of an array of plugins tailored to your precise requirements. The pricing for this service is determined by the level of customization and specific requests. Entrust us with the intricate technical aspects of configuring your plugins, allowing you to concentrate on the smooth operation of your server.</p>
	</div>
	<div class="bg-[#124889] rounded-lg p-4">
		<h1 class="text-lg font-semibold">Server Configuration and Setup</h1>
		<br>
		<p class="text-sm">Our Gamemode Setup service empowers you to select the gamemode that perfectly aligns with your requirements, while we manage all the technical intricacies to ensure a seamless launch. The cost of this service may fluctuate depending on your chosen gamemode, any supplementary plugins or features necessary, and the extent of customization you seek. Allow us to handle the setup, enabling you to relish your new server without distractions.</p>
	</div>
	<div class="bg-cyan-800 rounded-lg p-4">
		<h1 class="text-lg font-semibold">Custom Plugin Development</h1>
		<br>
		<p class="text-sm">With our Custom Plugin Development service, you can request a plugin tailored to your precise needs. Our seasoned developers will expertly craft the plugin, guaranteeing it performs just as you envision. The pricing is contingent on the intricacy of your request and the availability of our developers. Rely on us to transform your concepts into a high-quality, bespoke plugin.</p>
	</div>	
    <div class="bg-red-800 rounded-lg p-4">
		<h1 class="text-lg font-semibold">Proxy and Fundamental Security Configuration</h1>
		<br>
		<p class="text-sm">Our Multi-Server Proxy Setup service encompasses the configuration of a BungeeCord, Velocity, or other suitable proxy for your servers, fortified with essential security measures to shield against common exploits. Leave the intricate technical aspects to us, as we ensure a seamless deployment of your proxy, allowing you to concentrate on the operation of your servers. Rely on our expertise to maintain the security and connectivity of your servers through our professional setup services.</p>
	</div>	
    <div class="bg-purple-800 rounded-lg p-4">
		<h1 class="text-lg font-semibold">Protected Off-Site Backup Solutions</h1>
		<br>
		<p class="text-sm">Establish Off-Site Backups with 1 TB of Storage (Expandable for an Added Fee) and Seamlessly Integrate it with Other Services, Docker, etc. This Process Requires SSH Access.</p>
	</div>		
</div>


<style>
    html {
        scroll-behavior: smooth;
      }
</style>