---
---
<p class="lg:text-3xl text-2xl text-center font-semibold text-white">Our Top-Tier Services</p>
<p class="text-md text-center font-semibold text-white mx-5">Need something niche? Join our <a class="hover:underline underline-offset-2" href="https://discord.com/invite/SP87wwm6DU">Discord</a> and create a tailored order that suits your specific requirements!</p>
<div class="mx-auto max-w-screen-xl grid md:grid-cols-2 grid-cols-1 gap-6 text-white p-5">
	<div class="p-4">
		<span class="scale-125 float-left material-symbols-outlined">manufacturing</span>
		<h1 class=" ml-10 text-lg font-bold">Plugin Setup and Configuration</h1>
		<p class=" mt-2 text-sm font-light">Opt for our All-in-One Plugin Configuration service for the setup and fine-tuning of plugins tailored to your specific needs. Pricing depends on the level of customization and specific requests. Let us handle the intricate technical aspects of configuring your plugins, allowing you to focus on the smooth operation of your server.</p>
	</div>
	<div class="p-4">
		<span class="scale-125 float-left material-symbols-outlined">terminal</span>
		<h1 class="ml-10 text-lg font-bold">Server Configuration and Setup</h1>
		<p class="mt-2 text-sm font-light">Choose your ideal gamemode with our Gamemode Setup service, and we'll handle all the technical details for a smooth launch. The service cost varies based on your selected gamemode, additional plugins, customization needs, and features. Let us take care of the setup so you can enjoy your new server hassle-free.</p>
	</div>
	<div class="p-4">
		<span class="scale-125 float-left material-symbols-outlined">extension</span>
		<h1 class="ml-10 text-lg font-bold">Custom Plugin Development</h1>
		<p class="mt-2 text-sm font-light">Opt for our Custom Plugin Development service to request a tailored plugin that precisely meets your needs. Our experienced developers will skillfully craft the plugin to match your vision. Pricing depends on the complexity of your request and developer availability. Trust us to turn your ideas into a high-quality, custom plugin.</p>
	</div>	
    <div class="p-4">
		<span class="scale-125 float-left material-symbols-outlined">shield</span>
		<h1 class="ml-10 text-lg font-bold">Proxy and Security Configuration</h1>
		<p class="mt-2 text-sm font-light">Our Multi-Server Proxy Setup service configures a secure BungeeCord, Velocity, or a suitable proxy for your servers, ensuring protection against common exploits. Let us handle the technical details for a smooth deployment, allowing you to focus on server operations. Count on our expertise for ongoing security and connectivity maintenance.</p>
	</div>	
    <div class="p-4">
		<span class="scale-125 float-left material-symbols-outlined">settings_backup_restore</span>	
		<h1 class="ml-10 text-lg font-bold">Protected Off-Site Backup Solutions</h1>
		<p class="text-sm font-light text-gray-300">*SSH access is required for this process.</p>
		<p class="mt-2 text-sm font-light">Set up off-site backups with 1 TB storage (expandable for an additional fee) and seamlessly integrate with other services, Docker, etc.</p>
	</div>	
	<div class="p-4">
		<span class="scale-125 float-left material-symbols-outlined">code</span>
		<h1 class="ml-10 text-lg font-bold">Sys-Admin Services</h1>
		<p class="text-sm font-light text-gray-300">*SSH access is required for this process.</p>
		<p class="mt-2 text-sm font-light">We provide comprehensive support, addressing security, technical challenges, and software installations. Our aim is to ensure the smooth, secure, and efficient operation of your systems, allowing you to concentrate on core operations confidently.</p>
	</div>	
</div>