---
---
<p class="lg:text-3xl text-2xl text-center font-semibold text-white">Testimonials</p>
<p class="text-md text-center font-semibold text-white mx-5">What Our Clients Say About Us: Regardless of the project, we've got it covered. Scroll down to have a look. <br> We look forward to welcoming you here soon!</p>
<div class="mx-auto max-w-screen-xl grid md:grid-cols-2 grid-cols-1 gap-6 text-white p-5">
	<div class="p-4">
		<h1 class="text-lg font-bold">hockeyl8</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class=" mt-2 text-sm font-light">Helped me with setting up a Pterodactyl platform on a fresh Linux install for me yesterday night at a reasonable price. He was very professional in mannerism and actions, kindly explaining to me each step of the way what was being done and was generous in sharing his knowledge on how to accomplish further setup goals such as bungeecord/waterfall/velocity setup once he was done with the process. Will confidently look to him for further support when needed in the future.</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">.deathpacito</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">Helped me with setting up a Pterodactyl platform on a fresh Linux install for me yesterday night at a reasonable price. He was very professional in mannerism and actions, kindly explaining to me each step of the way what was being done and was generous in sharing his knowledge on how to accomplish further setup goals such as bungeecord/waterfall/velocity setup once he was done with the process. Will confidently look to him for further support when needed in the future.</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Xekek</h1>
		<p class="text-sm font-light text-gray-300">Owner of LTN Fan Server</p>
		<p class="mt-2 text-sm font-light">HWorked with him for some time and we've liked him, he's helped out with alot of our issues and much more. We consider him our family now. we've enjoyed having him</p>
	</div>	
    <div class="p-4">
		<h1 class="text-lg font-bold">mavraki</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">They never gave up on me no matter how many issues were presented when configuring my plugin from hell... ProGamingDk was very forthright; quickly and efficiently resolving errors on the fly, they certainly know what they're doing. I definitely would recommend their services to anyone who needs the support while configuring plugins, etc. The input garnered from them was invaluable and in the end, helped me actually attain a working product. Thanks again, really appreciate it!</p>
	</div>	
    <div class="p-4">	
		<h1 class="text-lg font-bold">Maddy</h1>
		<p class="text-sm font-light text-gray-300">Owner of EXMC Charity Event</p>
		<p class="mt-2 text-sm font-light">He helped me solve some quick issues, very patient, experienced, excellent.</p>
	</div>	
	<div class="p-4">
		<h1 class="text-lg font-bold">l33b0b</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">ProGamingDK is a legend. Always willing to help. Very knowledgeable. Always goes above and beyond in any task you give him. Have used him several times. Highly recommended!</p>
	</div>	
	<div class="p-4">
		<h1 class="text-lg font-bold">cal07</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">ProGamingDk is a saint, they helped me transfer a minecraft server from Windows to Linux as well as converting it from Spigot to Paper. Even after this was all done, they are still providing support despite some silly errors I've caused. Definitely would recommend 😄</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Kerm</h1>
		<p class="text-sm font-light text-gray-300">Owner of prismacraft.net</p>
		<p class="mt-2 text-sm font-light">Worked with me to fix a really complex and confusing problem on our server. Between going above and beyond to ensure he had all necessary info and being incredibly affordable this is one of the best and most worthwhile services I've ever hired!</p>
	</div>
</div>