---
---
<div transition:animate="fade">
<p class="lg:text-3xl text-2xl text-center font-semibold text-white">Testimonials</p>
<p class="mt-2 text-md text-center font-semibold text-white lg:mx-80 mx-5">What Our Clients Say About Us: Regardless of the project, we've got it covered. Scroll down to have a look. We look forward to welcoming you here soon!</p>
<div class="mt-2 mx-auto max-w-screen-xl grid md:grid-cols-2 grid-cols-1 gap-6 text-white p-5">
	<div class="p-4">
		<h1 class="text-lg font-bold">kr</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">I highly recommend ProGamingDk. He was quick, he's reliable and he did everything I needed very well. He provides a great support after sale and he's willing to help me when I have a question or when I encounter a problem even if it's not related to his sale. It's not very costly, so everyone that need to make a professional/ambitious project, can easily afford his services. BIG vouch.</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">The Unknown Who</h1>
		<p class="text-sm font-light text-gray-300">CodeNode LLC</p>
		<p class="mt-2 text-sm font-light">Initially, I perceived this individual as potentially detrimental, but upon further reflection, I have come to realize that they possess an exceptionally forthright nature. Their honesty, although seemingly unconventional, is genuinely well-intentioned and devoid of any malicious intent. I want to give a special shoutout to <@132557589757165569>  and his team for the help they personally gave me in the DMs at no charge / CodeNode LLC.</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Beansavery</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">ProGamingDK was incredibly helpful and able to help me through installing pterodactyl to my ubuntu server and help me through some minor issues I had as well as give extra info to help me learn what was going on with it all and able to give a good price for the services provided</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">.deathpacito</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">Helped me with setting up a Pterodactyl platform on a fresh Linux install for me yesterday night at a reasonable price. He was very professional in mannerism and actions, kindly explaining to me each step of the way what was being done and was generous in sharing his knowledge on how to accomplish further setup goals such as bungeecord/waterfall/velocity setup once he was done with the process. Will confidently look to him for further support when needed in the future. <br><br> Helped me resolve a catastrophic SQL database failure today from me screwing around multiple times trying to figure out how they work with plugins. Very good after sales support overall being able to consult for a variety of minor issues that crop up while learning how to use the panel.</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Xekek</h1>
		<p class="text-sm font-light text-gray-300">Owner of LTN Fan Server</p>
		<p class="mt-2 text-sm font-light">HWorked with him for some time and we've liked him, he's helped out with alot of our issues and much more. We consider him our family now. we've enjoyed having him</p>
	</div>	
    <div class="p-4">
		<h1 class="text-lg font-bold">mavraki</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">They never gave up on me no matter how many issues were presented when configuring my plugin from hell... ProGamingDk was very forthright; quickly and efficiently resolving errors on the fly, they certainly know what they're doing. I definitely would recommend their services to anyone who needs the support while configuring plugins, etc. The input garnered from them was invaluable and in the end, helped me actually attain a working product. Thanks again, really appreciate it!</p>
	</div>	
    <div class="p-4">	
		<h1 class="text-lg font-bold">Maddy</h1>
		<p class="text-sm font-light text-gray-300">Owner of EXMC Charity Event</p>
		<p class="mt-2 text-sm font-light">He helped me solve some quick issues, very patient, experienced, excellent.</p>
	</div>	
	<div class="p-4">
		<h1 class="text-lg font-bold">l33b0b</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">ProGamingDK is a legend. Always willing to help. Very knowledgeable. Always goes above and beyond in any task you give him. Have used him several times. Highly recommended!</p>
	</div>	
	<div class="p-4">
		<h1 class="text-lg font-bold">cal07</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">ProGamingDk is a saint, they helped me transfer a minecraft server from Windows to Linux as well as converting it from Spigot to Paper. Even after this was all done, they are still providing support despite some silly errors I've caused. Definitely would recommend 😄</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Kerm</h1>
		<p class="text-sm font-light text-gray-300">Owner of prismacraft.net</p>
		<p class="mt-2 text-sm font-light">Worked with me to fix a really complex and confusing problem on our server. Between going above and beyond to ensure he had all necessary info and being incredibly affordable this is one of the best and most worthwhile services I've ever hired!</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Digital Ginger</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">I've gotta say, Pro is a great choice for getting your server setup. They were very fast to respond, easy to communicate with, and very affordable. Not only did they meet my needs today, i will certainly be using their services for anything server related in the future. I highly recommend you check them out!</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Eternal The God</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">7/10 for ProGamingDk! He was easy to get along with, and we could negotiate the price with him very easily. Though it'd take him a while to get stuff done and he was mostly busy/didn't have time, which I'm sure I was just unlucky. Great service overall, I really recommend it.</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">tubBandit</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">Set up my Dedicated Minecraft server from scratch and installed my Pterodactyl panel and I'm so happy I didn't have to do it myself! 10/10 would reccomend 🤍 edit: also very nice to work with!</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">GlobberOne</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">⭐⭐⭐⭐⭐ Absolutely immaculant service, fixed a bunch of mistakes from my old dev and improved security that was little to non existant. Super quick to finish everything that was talked about and fully descriptive about what is going to be done. Highly recommend CraftSupport to anyone looking for help in their panels</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Quigybobo</h1>
		<p class="text-sm font-light text-gray-300">Midguard Network</p>
		<p class="mt-2 text-sm font-light">I am a brand new customer of  ProGamingDK they knocked it out of the park. Setup my database as requested (mongoDB) Firewall and security, explained every step of what what he was doing. Was up front about cost and was efficient in his work. Definitely hoping to work with this person again. 10/10</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Arman</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">ProGamingDK is quick, intelligent, and most importantly - he knows what he's talking about. He got us up and running in under 30m and pointed out something that may save us HUGE headaches in the future. thanks for your help today</p>
	</div>
	<div class="p-4">
		<h1 class="text-lg font-bold">Turbo</h1>
		<p class="text-sm font-light text-gray-300">Customer</p>
		<p class="mt-2 text-sm font-light">This Guy is one of the most skilled Server Helpers I have ever found! He knows everything from Fabric Modpacks to Forge Modpacks. He helps where he can and was everytime rly nice and calm! Thanks so much for the great experience!</p>
	</div>
</div>
</div>