---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WhyUs from "../components/WhyUs.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#12141D]">
    <main>
      <Header />
      <slot />
      <Services />
      <br><br><br>
      <WhyUs />
      <br><br><br>
      <Testimonials />
      <Footer />
    </main>
  </body>
</html>