---
import Header from "../components/Header.astro"
import Benefits from "../components/benefits.astro";
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#12141d]">
    <main>
      <Header />
      <slot />
      <br><br>
      <Benefits />
    </main>
  </body>
</html>